$base-color: #401411;
$text-color-1:#fff;
$base-color1:#500800;
$color-progress-circle-number: #fff;
body{
    font-family: Nunito Sans;
    font-size: 16px;
    line-height: 1.75;
}
//twitch code
.twitch-code-container{
    .container{
        width:70%;
    }
}

.event-link-container{
    background-color:$base-color;
    color:$text-color-1;
    padding: 26px;
    font-size: 18px;
    text-transform: uppercase;
}
.main-chat-container,.booth_list_container{
    .container{        
        max-width: 1333px;    
    }    
}
.main-chat-container{
    .img-container{
        img{
            width:100%;
        }

    }
}
.link-container{
    background-color:$base-color;
    color:$text-color-1; 
    margin-top: 10px;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    text-transform:uppercase;
    letter-spacing: 1px;
}
#wf-chat-messages a {
    color: #703737;
}
#wf-chat-frame {
  background: #E6EAEA;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: #32465a;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  height: 600px;
  margin-bottom: 30px;
}

#wf-chat-frame #sidepanel {
  background: #5a281e;
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
  padding: 0px 15px;
  height: 100%;
}
#wf-chat-frame #wf-chat-messages {
    overflow: hidden;
    position: relative;
    padding: 0px 15px;
    height: 600px;
}
#wf-chat-frame #wf-chat-messages #wf-messages-container {
    height: 540px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#wf-chat-frame #wf-chat-messages .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #5a281e;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
}
#wf-chat-frame #wf-chat-messages .message-input .wrap input {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    width: calc(100% - 90px);
    padding: 11px 32px 10px 8px;
    font-size: 0.8em;
    color: #32465a;
}
#wf-chat-frame #wf-chat-messages .message-input .wrap button {
    float: right;
    border: none;
    width: 60px;
    padding: 6px;
    cursor: pointer;
    background: #e30713;
    color: #f5f5f5;
    border-radius: 5px;
}
footer{
    background-color:$base-color1;
}
.copyright {
    color: #ab9a9a;
    font-family: Nunito Sans;
    font-size: 16px;
    line-height: 1.75;
}
ul#menu-footer-1,ul#menu-footer-2 {
    list-style-type: none;
    padding: 36px;
    text-align: left;
}
ul#menu-footer-1 a,ul#menu-footer-2 a {
    color:#fff;
}
ul#menu-footer-1 li,ul#menu-footer-2 li {
    padding-top: 20px;
    border-bottom: 1px solid #640d00;
    padding-bottom: 20px;
}
.footer__bottom {
    background-color: #401411;
    padding: 32px 0;
    color:$text-color-1;
}
a.navbar-brand{
    img{
        max-width:64px;
    }    
}
.social-container{
    span{
        color:$text-color-1;
        padding-left: 6px;
        padding-right: 7px;
    }
}

header{
    .masthead {
        font-family: "Poppins", sans-serif;
        color: $text-color-1;
        font-size: 11px;
        font-weight: 600;
        padding: 0 16px;
        display: block;
        position: relative;
        text-transform: uppercase;
        line-height: 50px;
        letter-spacing: .06em;
        text-transform: uppercase;
    }
    .navbar{
        padding:0;
    }
    .navbar-nav > li > a {
        font-family: "Poppins", sans-serif;
        color: #ffffff;
        font-size: 11px;
        font-weight: 600;
        padding: 0 16px;
        display: block;
        position: relative;
        text-transform: uppercase;
        line-height: 50px;
        letter-spacing: .06em;
    }
    .nav-link {
        display: block;
        padding: .5rem 1rem;
        text-transform: uppercase;
        font-weight: 500;
    }
    .strapline-wrapper {
        background-color: white;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #49545E;
        /* border-color: #617095; */
        border-color: #401411;
    }
    .container-strapline {
        max-width: 1140px;
        width: 1140px;
        /* padding: 6px 20px; */
        padding: 6px 15px 4px 20px;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        font-size: 13px;
        font-family: 'Lato',sans-serif;
        justify-content: space-between;
        /* font-family: "Poppins", sans-serif; */
        font-family: 'Nunito Sans',sans-serif;
        align-items: center;
    }
    .strapline-text-wrapper {
        display: flex;
        font-size: 14px;
    }
    .strapline-divider {
        margin: 0 6px;
    }
    .strapline-subscribe {
        display: flex;
    }
    .strapline-subscribe a {
        /* background-color: black; */
        /* background-color: #002B4D; */
        /* background-color: #10302f; */
        background-color: #401411;
        padding: 3px 10px;
    }
    .strapline-subscribe a {
        /* color: #49545E; */
        color: #efefef;
        font-size:14px;
    }
    .bg-dark {
        background-color: $base-color!important;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: rgba(255,255,255,1);
        font-size: 12px;
    }
    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
        color: #e30713;
    }
    .strapline-subscribe a:hover {
        /* background-color: rgba(0, 43, 77,0.9); */
        /* background-color: rgba(16, 48, 47,0.9); */
        background-color: #640d00;
    }
    li.nav-item{
        padding-left: 14px;
        padding-right: 14px;
    }
    .navbar{
        .container{
            max-width: 1333px;
        }
    }
}
.embed-responsive-16by9:before {
    padding-top: 38.75%!important;
}
.nav-below-container{
    background-color:$text-color-1;
}
#carouselExampleControls{
    .carousal-1-live{
        background-image:url(../img/Akero_Banner_1200x675.png);
        background-size:cover;
        background-position:center;
        height:317px;
    }
    .carousal-2-live{
        background-image:url(../img/10-Booth-Image-B.jpg);
        background-size:cover;
        background-position:center;
        height:317px;
    }

}
.main-chat-container{
    .tw-account-container{
        text-align:left;
    }
    .tw-account-container{
        .twitter-conversation{
            padding-top:15px;  
            border-top:black solid 1px;
            font-size: 22px;
            color: #e30713; 
            font-weight:bold;
           
        }
    }
    .tw-account-container{
        a{
            color: #595353;
            font-size: 21px;
            text-align:left;
        }
    }
    
}
.ad-image-container{
            margin-top:50px;
            margin-bottom:50px;
}
#wf-poll-form{
    font-family: Nunito Sans;
  }
  #wf-poll-form ul{
    list-style: none;
  }
  .wf-poll-option{
    width: 120px;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
  }
  #wf-option-y{
    background-color: #810020;
    border: 1px solid #550317;
  }
  #wf-option-n{
    background-color: #a41726;
    border: 1px solid #686464;
  }
  #wf-option-x{
    background-color: #ca302d;
    border: 1px solid #431f04;
  }
  #wf-option-y:hover{
    background-color: #f28507;
  }
  #wf-option-n:hover{
    background-color: #686464;
  }
  #wf-option-x:hover{
    background-color: #431f04;
  }
  #wf-poll-submit {
    background-color: #e30713;
    color: #ffffff;
    margin-top: 10px;
    font-family: Roboto;
    padding: 10px 20px;
    font-size: 18px;
    float: right;
    display: none;
  }
  .wf-waiting {
    text-align: center;
    width: 100%;
    padding: 20px;
    display: none;
  }
  #carouselExampleControls{
      margin-top:40px;
  }
  .booth_list_container{
    background-color: #EDEDED;
    padding-top: 50px;
  } 
  .booth_list_container{
    .booth_logo_container{
        img{
            width:206px;
        }
    }
  }
  .booth_list_container{
    .row{
        .col{
            background-color:$text-color-1;
            box-shadow: 5px 5px 18px #c0c0c0;
            margin-left: 15px;
            margin-right: 15px;
        }
    }
  }
  .booth_list_container{
    .row{
        .col{
            background-color:$text-color-1;
            box-shadow: 5px 5px 18px #c0c0c0;
            margin-left: 15px;
            margin-right: 15px;
            padding-bottom: 50px;
            margin-bottom: 30px;
        }
    }
  }
.booth_list_container{
    .booth_btn_container{
        a{
            color: #ffffff!important;
            background-color: #222;
            padding: 5px 10px;
            border-radius: 4px;
            text-decoration: none;
            font-size: 14px;
            border-radius:0;
            text-transform: uppercase;
            font-weight:bold;            
        }        
    }
  }
.booth_list_container{
    .booth_text_container{
        margin-bottom: 50px;
    }
}
.booth_list_container{
  .booth_logo_container {
        min-height: 180px;
    }
}
.booth_list_container{
    .col-12{
        margin-bottom:40px;
    }
}
.booth_list_container{
    h2{
       font-weight:bold;
    }
}
